<div class="section__title">
  <i class="@@firstIcon"></i>
  <h4 class="title">@@title</h4>
  <i class="@@lastIcon"></i>
</div>

<!--LA PARAMETRIZACIÓN SE TENDRÍA QUE HACER EN BASE A ESTE ENUNCIADO. CREO... 


<h4 class="sharedesign"><i class="fas fa-share-alt"></i>Comparte<i class="fas fa-chevron-down" alt="icon"></i></h4>

-->


<!-- "OJO, CAMBIÓ LA MANERA DE INDICAR EL TÍTULO DE LAS SECCIONES POR NECESIDADES DEL DISEÑO DE CSS. SI QUERÉIS COMPROBAR COMO LO HICE YO PARA GUIAROS, MIRAD EN MI PARTIAL DE DESIGN" ----------- CLAUDIA. -->