<section class="card_hero">
  <button class="card_reset js-card_reset">
    <i class="card_reset__icon far fa-trash-alt"> Reset</i>
  </button>

  <div class="card-preview">
    <div class="card-preview__header js-card-preview-header">
      <h3 class="card-preview__title js-preview_name">Nombre apellido</h3>
      <p class="card-preview__subtitle js-preview_job">Front-end developer</p>
    </div>
    <div class="card-preview__photo js__profile-image"></div>
    <nav class="card-preview__nav">
      <ul class="card__socialmedia ">
        <li class="card__socialmedia_item js-card-preview-socialmedia-phone">
          <a target="_blank" href="" class="js-preview_phone" alt="mobile">
            <i class="socialmedia_icon js-preview-icon-socialmedia-phone fas fa-mobile-alt"> </i>
          </a>
        </li>
        <li class="card__socialmedia_item js-card-preview-socialmedia-email">
          <a target="_blank" href="mailto:email@email.com" class="js-preview_email" alt="email">
            <i class="socialmedia_icon js-preview-icon-socialmedia-email far fa-envelope"></i>
          </a>
        </li>
        <li class="card__socialmedia_item js-card-preview-socialmedia-linkedin">
          <a target="_blank" href="" class="js-preview_linkedin" alt="linkedin">
            <i class="socialmedia_icon js-preview-icon-socialmedia-linkedin fab fa-linkedin-in"></i>
          </a>
        </li>
        <li class="card__socialmedia_item js-card-preview-socialmedia-github ">
          <a target="_blank" href="" class="js-preview_github" alt="github">
            <i class="socialmedia_icon js-preview-icon-socialmedia-github fab fa-github-alt"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>