<section>
    <h4 class="design"><i class="far fa-object-ungroup" alt="icon"></i>Diseña<i class="fas fa-chevron-up"
            alt="icon"></i></h4>
    <div class="paletteandcolours">
        <p class="colours">
            Colores
        </p>
        <ul class="palettes">
            <li>
                <i class="fas fa-dot-circle"></i>
                <div class="palette1color1"></div>
                <div class="palette1color2"></div>
                <div class="palette1color3"></div>
            </li>
            <li>
                <i class="fas fa-dot-circle"></i>
                <div class="palette2color1"></div>
                <div class="palette2color2"></div>
                <div class="palette2color3"></div>
            </li>
            <li>
                <i class="fas fa-dot-circle"></i>
                <div class="palette3color1"></div>
                <div class="palette3color2"></div>
                <div class="palette3color3"></div>
            </li>
        </ul>
    </div>
</section>
<section>
    <h4 class="formdesign"><i class="far fa-keyboard"></i>Rellena<i class="fas fa-chevron-down" alt="icon"></i></h4>
</section>
<section>
    <h4 class="sharedesign"><i class="fas fa-share-alt"></i>Comparte<i class="fas fa-chevron-down" alt="icon"></i></h4>
</section>