<section class="containerdesign">
  <section class="design">

    <div class="icontitle">
      <i class="far fa-object-ungroup" alt="icon"></i>
      <h4 class="designtitle">Diseña</h4>
    </div>

    <i class="fas fa-chevron-up" alt="icon"></i>
  </section>

  <section class="paletteandcolours">
    <p class="colourstitle">
      Colores
    </p>

    <section class="colours">
      <form class="palettes">
        <input type="radio" value="colours1" id="colours1" name="colourpalette" />
        <input type="radio" value="colours2" id="colours2" name="colourpalette" />
        <input type="radio" value="colours3" id="colours3" name="colourpalette" />
      </form>
      <section class="palettescolours">
        <section class="colours1">
          <div class="palette1 colour1"></div>
          <div class="palette1 colour2"></div>
          <div class="palette1 colour3"></div>
        </section>
        <div class="colours2">
          <div class="palette2 colour1"></div>
          <div class="palette2 colour2"></div>
          <div class="palette2 colour3"></div>
        </div>
        <div class="colours3">
          <div class="palette3 colour1"></div>
          <div class="palette3 colour2"></div>
          <div class="palette3 colour3"></div>
        </div>
      </section>
    </section>

  </section>

</section>