<main class="hero">
    <section>
        <h1 class="section_title">Crea tu tarjeta de visita</h1>
        <p class="section_text">Crea mejores contactos profesionales de forma fácil y cómoda</p>
    </section>

    <nav class="nav_container">
        <ul class="nav_container-list">
            <li class="list-desing"><i class="far fa-object-ungroup"></i>Diseña</li>
            <li class="list-desing"><i class="far fa-keyboard"></i>Rellena</li>
            <li class="list-desing"><i class="fas fa-share-alt"></i>Comparte</li>
        </ul>
    </nav>

    <div class="button_container">
        <a class="button_start" href="../create_card.html" title="Go to create card"
            alt="Go to create card">Comenzar</a>
    </div>
</main>