.footer {
  background-color: #ffffff;
  text-align: center;
  &__text {
    font-family: $principal-font;
    font-size: 14px;
    color: #6b6b6b;
  }
  &__logo {
    width: 103px;
    height: 40px;
  }
  /*@include tablet {
  }*/
}
