.headerIndex {
  display: flex;
  background-color: #f5f5f5;
  justify-content: center;
  text-align: center;

  .imgIndex {
    width: 150px;
    height: 150px;
  
  
    @include tablet {
      width: 250px;
      height: 150px;
    }
    @include desktop {
      margin-top: 350px;
    }
  }
}

.headerCard {
  background-color: #ffffff;
  width: 100%;

  a {
    display: flex;
    align-items: center;
    padding: 30px;
  }

  .imgCard {
    width: 120px;
    margin-right: 20px;
  }
}

.header-title {
  font-family: $principal-font;
  font-weight: 600;
  font-size: 18px;
  color: #438792;

  @include tablet {
    font-size: 24p;
  }
}
